// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#video_area{
	position:relative;
	width:640px;
}

#pop_up{
	position: absolute;
	bottom: 44px;
	left: 5px;
	color: white;
	text-align: center;
	width: 90%;
	background:transparent;
	border:none;
	font-size:30px;
	font-weight:bold;
	height:30px;
}

ul#comments li{
	cursor: pointer;
}

#marker{
	position:absolute;
	bottom:34px;
	left:0px;
	width:16px;
	height:20px;
	background:red;

}